<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orange.labs.uk.omtp"
    android:versionCode="201"
    android:versionName="3.02" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application>
        <service
            android:name=".service.OmtpSmsReceiverHandler"
            android:exported="true" >
        </service>
        
        <service android:name=".service.fetch.OmtpFetchService" />
        
        <receiver
            android:name=".receiver.OmtpSmsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data android:scheme="sms" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.OmtpSmsSentMessageStatusReceiver" >
            <intent-filter>
                <action android:name="com.orange.labs.uk.omtp.action.SMS_SENT_STATUS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.OmtpFetchReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.orange.labs.uk.omtp.VOICEMAIL_FETCH" />
                <action android:name="android.intent.action.FETCH_VOICEMAIL" />
                <!-- TODO: find a way to filter fetch requests for my own package -->
                <data
                    android:host="com.android.voicemail"
                    android:mimeType="vnd.android.cursor.item/voicemail"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.orange.labs.uk.omtp.GREETING_FETCH" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.VoicemailProviderChangeReceiver"
            android:enabled="true" >

            <!-- filter for uris that represent a directory of voicemails (mimeType dir) -->
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data
                    android:host="com.android.voicemail"
                    android:mimeType="vnd.android.cursor.dir/voicemails"
                    android:scheme="content" />
            </intent-filter>
            <!-- filter for uris that represent a single voicemail with valid mime type set -->
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data
                    android:host="com.android.voicemail"
                    android:mimeType="vnd.android.cursor.item/voicemail"
                    android:scheme="content" />
            </intent-filter>
        </receiver>
    </application>

</manifest>